body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #011627;
    margin: 0;
}

#calculator {
    margin: 40px auto;
    overflow: hidden;
    width: 420px;
    text-align: center;
}

.row {
    margin: 5px 0;
    clear: both;
    overflow: hidden;
}

#output {
    width: 312px;
    float: left;
    margin: 0 6px 3px 0;
    background: #011627;
    color: #fff;
    border-radius: 4px;
    padding: 15px;
    box-sizing: border-box;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.calc-button {
    margin: 0 6px 3px 0;
    width: 100px;
    padding: 15px;
    border-radius: 4px;
    background: #e5e7e9;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: .25s all;
    -moz-transition: .25s all;
    transition: .25s all;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.calc-button:hover {
    background: #b2b9be;
}

.calc-button:last-child {
    margin-right: 0;
}

.operation {
    background: #8df2e5;
}

.operation:hover {
    background: #41ead4;
}

#equals {
    background: #ffc576;
}

#equals:hover {
    background: #ffb249;
}

#clear {
    background: #f8455d;
    color: #FDFFFC;
}

#clear:hover {
    background: #F71735;
}