body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #575757;
    margin: 0;
}


/* Commented out css base mode

.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

 .row {
    margin: 20px 0;
}

.active-operator {
    background: #202020;
    color: #fff;
}  */

#calculator {
    margin: 40px;
}

#values {
    float: left;
    margin-right: 6px;
}

#operations {
    float: left;
}

.row {
    margin: 5px 0;
    clear: both;
}

#output {
    background: #575757;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-align: right;
}

.calc-button {
    margin: 0 6px 6px 0;
    width: 160px;
    padding: 15px;
    border-radius: 4px;
    background: #f3f3f3;
    float: left;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: .25s all;
    -moz-transition: .25s all;
    transition: .25s all;
}

.calc-button:hover {
    background: #e3e3e3;
}

.calc-button:last-child {
    margin-right: 0;
}