body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #011627;
    margin: 0;
}

#calculator {
    margin: 40px;
}

#values {
    float: left;
    margin-right: 6px;
}

#operations {
    float: left;
}

.row {
    margin: 5px 0;
    clear: both;
}

#output {
    background: #011627;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-align: right;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.calc-button {
    margin: 0 6px 6px 0;
    width: 160px;
    padding: 15px;
    border-radius: 4px;
    background: #eff0f1;
    float: left;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: .25s all;
    -moz-transition: .25s all;
    transition: .25s all;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.calc-button:hover {
    background: #e5e7e9;
}

.calc-button:last-child {
    margin-right: 0;
}

#equals {
    background: #ffc576;
}

#equals:hover {
    background: #ffb249;
}

#clear {
    background: #f8455d;
    color: #FDFFFC;
}

#clear:hover {
    background: #F71735;
}

.operation {
    background: #a0f4e9;
}

.operation:hover {
    background: #7af0e0;
}